#messages{
    z-index: 20;
    position: fixed;
    bottom: 0;
    left: 20vw;
    right: 20vw;

}

.message{
    padding: 5px;
    margin: 3px;
    border-radius: 3px;
    text-align: center;
    background-color: #95761d;
    color: #ffffff;

}
